body{
    margin: 0;
    height: 100vh;
    background-color: black;
}

span{
    background: url('IGP\ LOGO.jpg');
    width: 100px;
    height: 100px;
    position : absolute;
    pointer-events: none;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50% );
    animation: animate 6s;
}
@keyframes animate{
    0%{
        opacity: 1;
        transform: translate(-50%,-50%);
        filter: hue-rotate(0);
    }
    100%{
        opacity: 0;
        transform: translate(-50%,-5000%);
        filter: hue-rotate(720deg);
    }
    
}